# Copier ces variables dans Vercel > Settings > Environment Variables

NEXT_PUBLIC_SUPABASE_URL=https://wawqpxuyydvjplvvslyf.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=sb_publishable_AZapbEmHihOSEV54e102CA_4Zc6HUHG

GMAIL_USER=elorffatiha1189@gmail.com
GMAIL_APP_PASSWORD=wfbg oldl xqfh vivc
